body {
  background-color: #181818;
  color: #9f9f9f;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
h1,
h2,
h3 {
  color: #cb0001;
}

a {
  color: inherit;
  text-decoration: none;
}
